
.vacation_table {
    border:1px solid #AAA;
}

.PL_twenty{padding-left:20px}

.vacation_table_cell {
    width:150px;height:50px;
}

.vaction_remain_text{

    height:50px;width:200px;
}

.vacation_days {
    width:50px;
}